body {
    background-color: royalblue;
    color: white;
    font-family: Tahoma;
}

header {
    display: flex;
}

main {
    margin: 1em 3em;
}

img {
    border-radius: 50%;
    border: black solid 4px;
    margin: 1.9em 3em;
}

input {
    margin: 8px;
    width: 20em;
}

label {
    padding: 0.5em;
    margin: 4px;
    width: 150px;
}

.inputArea {
    display: flex;
    flex-direction: row;
}

.inputColumn {
    display: flex;
    flex-direction: column;
}

.inputText {
    width: 30em;
    height: 12em;
}


.labelColumn {
    display: flex;
    flex-direction: column;
}

button {
    margin: 30px 0px 50px 136px;
}